@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
background-color: #EDE6DB;
}

.input-layer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-title {
  font-size: 20px;
  font-weight: 400;
}
.input-style {
  padding: 12px 12px;
  border: none;
  border-radius: 2px;
  margin-left: 10px;
  width: 90px;
}

.add-btn-style{
  border: none;
  background-color: #069A8E;
  color: #fff;
  padding: 10px 20px;
  border-radius: 2px;
  margin-left: 10px;
  font-size: 16px;
}

.clock-time-wrapper {
  display: flex;
  justify-content: center;
align-items: center;
}
.clock-style {
  font-size: 8em;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
}
.speed-up-btn-container {
  margin-top: 10px;
}

.play-pause-btn {
  height: 60px;
  margin-left: 50px;
}
.speed-btn-style{
  border: none;
  padding: 10px 20px;
  margin: 10px;
}
.speed-btn-style.selected{
  border: none;
  padding: 10px 20px;
  margin: 10px;
  background-color: #069A8E;
  color: #fff;
}

.color-red {
  color: red;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
